.popup {
  z-index: 1000;
}
.codex-editor {
  width: 940px;
  border: 0.5px solid #fda116;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 60vh;
  overflow-y: auto;
  color: aliceblue;
}

.codex-editor__redactor {
  transform: translateX(-30px);
}
.ce-toolbar {
  transform: translateX(-90px);
}

.popup-content {
  position: fixed;
  top: 40%;
  left: 60%;
  transform: translate(-50%, -50%);

  border-radius: 8px;
  z-index: 1001;
  position: fixed;
  top: 40%;
  left: 60%;
  transform: translate(-50%, -50%);
  color: black;
  border-radius: 8px;
  z-index: 1001;
}

#editorjs {
  background: #282828;
}
#PrevEditorjs {
  background: #282828;
}
#editorjs .codex-editor--narrow .ce-toolbar__actions {
  left: -15px;
}

.X {
  color: aliceblue;
}

.codex-editor--narrow .ce-toolbar__actions {
  left: -30px;
}
.codex-editor--narrow .ce-toolbox .ce-popover {
  left: -30px;
}

.ce-toolbar__plus {
  color: aliceblue;
}

.ce-toolbar__settings-btn svg {
  color: aliceblue;
}

.ce-toolbar__plus:hover {
  color: #fda116;
  background-color: transparent;
}

.ce-toolbar__settings-btn:hover svg:hover {
  color: #fda116;
}

.ce-toolbar__settings-btn:hover {
  background-color: transparent;
}

.ce-block--selected .ce-block__content {
  background-color: #f99500;
}
