h1 {
  text-align: center;
}

main {
  background-color: #1a1a1a;
  color: aliceblue;
}

.pages {
  border: 1px solid #fda116;
  background-color: #282828;
  border-radius: 6px;
  padding: 6px;
  list-style-type: none;
  text-align: center;
  margin: 15px;
}

.pages:hover {
  background-color: #fce14b;
  cursor: pointer;
  color: black;
}

.saved {
  text-align: center;
  width: 100%;
}
